/*background body*/
$var1: #221518;
/*bacground hero left*/
$var2: radial-gradient(114.24% 73.21% at 98.55% 92.63%, #3A1B1A 0%, rgba(124, 87, 60, 0) 100%), #7C573C;
/*header text-color*/
$var3: #FFF8E8;
/*main text-color*/
$var4: #F8E4BE;
/*footer text-color*/
$var5: #FFF3E0;
/*fonts*/
$var6: "leiko";
$var7: "Dancing Script";