/*background body*/
$var1: #221518;
/*bacground hero left*/
$var2: radial-gradient(114.24% 73.21% at 98.55% 92.63%, #3a1b1a 0%, rgba(124, 87, 60, 0) 100%), #7c573c;
/*header text-color*/
$var3: #fff8e8;
/*main text-color*/
$var4: #f8e4be;
/*footer text-color*/
$var5: #fff3e0;
/*fonts*/
$var6: "leiko";
$var7: "Dancing Script";