<footer class="footer" style="background-image: url(./img/footer-img/bg-f.png);">
   <span class="footer__social"
      style="background-image: url(./img/footer-img/footer-bean-1.png), url(./img/footer-img/footer-bean-2.png);">
      <p>Social media:</p>
      <a href="https://www.linkedin.com/" target="_blank"><img src="./img/footer-img/Linkedin-footer.svg"
            alt="Lincedin"></a>
      <a href="https://pinterest.com/" target="_blank"><img src="./img/footer-img/Pinterest-footer.svg"
            alt="pinterest"></a>
      <a href="https://www.instagram.com/" target="_blank"><img src="./img/footer-img/Instagram-footer.svg"
            alt="instagram"></a>
   </span>
   <div class="footer__container">
      <div class="footer__items">
         <img class="footer__main-img" src="./img/footer-img/coffee-footer.png" alt="cofe-machine">

         <div class="footer__item">
            <div class="footer__about">
               <h3>About</h3>
               <ul>
                  <li><a href="#">our story</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a title="This page is not ready yet!" class="not-ready" href="#">careers</a></li>
               </ul>
            </div>
            <div class="footer__customer">
               <h3>Customer Recourses</h3>
               <ul>
                  <li><a href="#">menu</a></li>
                  <li><a title="This page is not ready yet!" class="not-ready" href="#">locations</a></li>
                  <li><a title="This page is not ready yet!" class="not-ready" href="#">support</a></li>
               </ul>
            </div>
            <div class="footer__services">
               <h3>Services</h3>
               <ul>
                  <li><a title="This page is not ready yet!" class="not-ready" href="#">payment options</a></li>
                  <li><a title="This page is not ready yet!" class="not-ready" href="#">refunds & exchanges </a></li>
                  <li><a title="This page is not ready yet!" class="not-ready" href="#">limitation of liability </a>
                  </li>
               </ul>
            </div>
            <div class="footer__contacts" id="contact">
               <ul>
                  <li><a href="#"><img src="./img/footer-img/Location-footer.svg" alt="gps"> 12 jhon Avenue #35 - new
                        York
                     </a></li>
                  <li><a href="mailto:elizacoffee@coffee.com"><img src="./img/footer-img/Post-footer.svg" alt="mail">
                        elizacoffee@coffee.com</a></li>
                  <li><a href="tel:+1-222-34"><img src="./img/footer-img/Phone-footer.svg" alt="tel">+1-222-34-eliza</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>

      <div class="footer__copyright">
         <div class="copyright">
            <p>Created By Dream Team</p>
            <p>Copyright 2023 Eliza Coffee . All rights reserved.</p>
         </div>
      </div>
   </div>
</footer>