<footer class="footer">
    <div class="footer__container">
        <div class="footer__container_img">
            <img src="./img/footer-img/cofe-machine.webp" alt="">
        </div>
        <div class="footer__container_menu">
            <ul class="about">
                <li><a href="#">about</a></li>
                <li><a href="#">our story</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">careers</a></li>
            </ul>
            <ul class="customer">
                <li><a href="#">customer recourses </a></li>
                <li><a href="#">menu</a></li>
                <li><a href="#">locations</a></li>
                <li><a href="#">support</a></li>
            </ul>
            <ul class="services">
                <li><a href="#">services</a></li>
                <li><a href="#">payment options</a></li>
                <li><a href="#">refunds & exchanges</a></li>
                <li><a href="#">limitation of liability</a></li>
            </ul>
            <ul class="contact">
                <li><a href="#">12 jhon Avenue #35 - new York</a></li>
                <li><a href="#">elizacoffee@coffee.com</a></li>
                <li><a href="#">+1-222-34-eliza</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>Created By Elinaui9 <br>
            Copyright 2023 Eliza Coffee . All rights reserved.</p>
    </div>

</footer>