<header class="header">
    <div class="header__blur"></div>
    <div class="header__container">
        <div class="header__home">
            <div class="home__logo">
                <a href="#">
                    <img src="./img/logopng.png" alt="logo">
                </a>
            </div>
            <div class="home__items">
                <a href="#"><img src="./img/home_account.svg" alt="account"></a>
                <div class="shop">
                    <a id="shop-btn" href="#"><img src="./img/home_shopping.svg" alt="shop"></a>
                </div>
                <div class="basket" id="basket-modal">
                    
                    <div class="item" id="cart">
                        Cart items:
                        <span id="count">0</span>, Price:
                        <span id="sum">0</span>
                        <button class="basket-close">Close
                            <img src="./img/menu-img/our-menu-close.svg" alt="img">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <nav class="header__nav">
            <ul>
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#menu">Menu</a>
                </li>
                <li>
                    <a href="#services">Services</a>
                </li>
                <li>
                    <a href="#product">Product</a>
                </li>
                <li>
                    <a href="#blog">Blog</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="header__burger">
            <div id="burger-icon" class="menu__btn">
                <span></span>
            </div>
            <div id="burger-menu" class="burger__menu">
                <div class="menu__mob">
                    <ul>
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li>
                            <a href="#menu">Menu</a>
                        </li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li>
                            <a href="#product">Product</a>
                        </li>
                        <li>
                            <a href="#blog">Blog</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
</header>