<header class="header">
    <div class="header__blur"></div>
    <div class="header__container">
        <div class="header__home">
            <div class="home__logo">
                <a href="#">
                    <img src="./img/logo.webp" alt="logo">
                </a>
            </div>
            <div class="home__items">
                <a href="#"><img src="./img/home_account.svg" alt="account"></a>
                <a href="#"><img src="./img/home_shopping.svg" alt="account"></a>
            </div>
        </div>
        <nav class="header__nav">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Menu</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Product</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>