<section id="home" class="hero" style="background-image: url(./img/hero-img/coffee-hero-items-beans.png);">
   <div class="hero__container">
      <div class="container__blur-first"></div>
      <div class="container__blur-second"></div>
      <div class="hero__main">
         <h1>Elza Coffee</h1>
         <div class="hero__describe">
            <p>Today's good mood is sponsored by coffee
               search for your coffee now
            </p>
         </div>
         <div class="hero__btn">
            <a href="#">
               Shop Now
            </a>
            <a href="#">
               Catalog
            </a>
         </div>
         <div style="background-image: url(./img/hero-img/hero-cup.png);" class="hero__coffee-container">
            <h3>But First Coffee</h3>
            <a href="#">
               Hurry Up
               <img src="./img/hero-img/hero-bicycle.svg" alt="bicycle">
            </a>
         </div>
      </div>
      <div class="hero__item">

      </div>
   </div>
</section>