<section id="menu" class="menu">
   <div class="menu__container">
      <div class="menu__title">
         <h2>popular menu</h2>
      </div>
      <div class="menu__main" style="background-image: url('../img/menu-img/main-menu-img.png');">
         <!-- <div class="menu__gradient"></div> -->
         <div class="div">
            <div class="first__line-menu">
               <ul>
                  <li>
                     <a class="price__menu" href="">$40.00</a>
                     <a class="description__menu" href="">chocolate</a>
                  </li>
                  <div class="menu__border-gradient">
                     <div class="border__square"></div>
                     <div class="border__line"></div>
                  </div>
               </ul>

               <ul>
                  <li>
                     <a class="description__menu" href="">espersso</a>
                     <a class="price__menu" href="">$30.00</a>
                  </li>
                  <div class="menu__border-gradient">
                     <div class="border__line"></div>
                     <div class="border__square"></div>
                  </div>
               </ul>
            </div>

            <div class="second__line-menu">
               <ul>
                  <li>
                     <a class="price__menu" href="">$25.00</a>
                     <a class="description__menu" href="">double es</a>
                  </li>
                  <div class="menu__border-gradient">
                     <div class="border__square"></div>
                     <div class="border__line"></div>
                  </div>
               </ul>

               <ul>
                  <li>
                     <a class="description__menu" href="">cappuccino</a>
                     <a class="price__menu" href="">$30.00</a>
                  </li>
                  <div class="menu__border-gradient">
                     <div class="border__line"></div>
                     <div class="border__square"></div>
                  </div>
               </ul>
            </div>

            <div class="third__line-menu">
               <ul>
                  <li>
                     <a class="price__menu" href="">$45.00</a>
                     <a class="description__menu" href="">caramel</a>
                  </li>
                  <div class="menu__border-gradient">
                     <div class="border__square"></div>
                     <div class="border__line"></div>
                  </div>
               </ul>

               <ul>
                  <li>
                     <a class="description__menu" href="">mocha</a>
                     <a class="price__menu" href="">$25.00</a>
                  </li>
                  <div class="menu__border-gradient">
                     <div class="border__line"></div>
                     <div class="border__square"></div>
                  </div>
               </ul>
            </div>

            <div class="fourth__line-menu">
               <ul>
                  <li>
                     <a class="price__menu" href="">$50.00</a>
                     <a class="description__menu" href="">doppio</a>
                  </li>
                  <div class="menu__border-gradient">
                     <div class="border__square"></div>
                     <div class="border__line"></div>
                  </div>
               </ul>

               <ul>
                  <li>
                     <a class="description__menu" href="">latte</a>
                     <a class="price__menu" href="">$25.00</a>
                  </li>
                  <div class="menu__border-gradient">
                     <div class="border__line"></div>
                     <div class="border__square"></div>
                  </div>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div id="myModal" class="modal">
      <div class="modal-content">
         <h2>Our Menu</h2>
         <p>FRAPPÉ</p>
         <p>FREAKSHAKE</p>
         <p>ICED MOCHA</p>
         <p>ICED LATTE</p>
         <p>FLAT WHITE</p>
         <p>ESPRESSO CON PANNA</p>
         <p>AFFOGATO</p>
         <p>IRISH COFFEE</p>
         <p>RISTRETTO</p>
         <button class="close">
            Close
            <img src="./img/menu-img/our-menu-close.svg" alt="img">
         </button>
      </div>
   </div>

   <button class="our__menu_btn" id="openModal">
      Our Menu
      <img src="./img/menu-img/our-menu-btn.svg" alt="img">
   </button>
</section>