<section class="offer" style="background-image: url(./img/offer-img/offer-bean-bg.svg);">
   <div class="offer__container">
      <h4 class="second__offer-title">
         offer
      </h4>
      <div class="offer__item"
         style="background-image: url(./img/offer-img/offer-gradient1.png), url(./img/offer-img/offer-gradient2.png);">
         <div class="offer__title">
            <h2>
               offer
            </h2>

            <h3>
               up to <span class="offer__sale">50%</span> off
            </h3>
            <p>
               At our cafe, we take pride in providing our customers with the best coffee around. Our carefully-selected
               coffees come from some of the most renowned coffee growing regions in the world, ensuring that<span
                  id="offer-dots">...</span><span id="more-offer">each cup is unrivaled in flavor and freshness.</span>
            </p>
            <div class="background-btn">
               <a href="#">
                  shop now
               </a>
            </div>
         </div>
         <div class="offer__image">
            <img src="./img/offer-img/offer-coffee.png" alt="image">
         </div>
      </div>
   </div>
</section>