<section id="blog" class="our__blog" style=" background-image: url(./img/our_blog/blog-bg.png);">
    <div class="our__blog_title">
        <h2>
            our blog
        </h2>
    </div>
    <div class="swiper container__blog-slider">
        <div class="swiper-wrapper our__blog_slider">
            <div class="swiper-slide swiper-slide4 slider__item">
                <div class="item__title">
                    <h3>how to make a great coffee</h3>
                </div>
                <div class="item__describe">
                    <p>
                        Making a cup of coffee doesn't have to be complicated. Start by gathering your supplies: coffee
                        grounds, water, and a French press, mug or other vessel. Next, measure out 2 tablespoons of
                        ground
                        coffee per 8 ounces of water. If you're using a French <span id="less">...</span><span
                            id="more">press, pour the measured grounds into the
                            bottom of the press followed by hot water (between 195-205 degrees Fahrenheit). Let sit for
                            three
                            minutes before gently pushing down on the filter to trap the grounds at the bottom; this
                            will
                            create
                            an intense flavor with slightly heavier body than filtered methods. If you have neither a
                            French
                            press nor filter, just pour your measured grounds directly into a mug or vessel and top with
                            piping
                            hot water. Give it a stir and let it sit for 3-4 minutes before consuming--but don't leave
                            it
                            too
                            long as this method won't produce quite as bold of a flavor as either filtering or pressing
                            would!</span>
                    </p>
                </div>
                <div class="item__icon">
                    <img src="./img/our_blog/cup1.svg" alt="cup">
                    <img src="./img/our_blog/cup2.svg" alt="cup">
                    <img src="./img/our_blog/cup3.svg" alt="cup">
                </div>
                <div class="icon__describe">
                    <img src="./img/our_blog/Ellipse 1.svg" alt="img">
                    <p>steamed milk</p>
                    <img src="./img/our_blog/Ellipse 2.svg" alt="img">
                    <p>milk foam</p>
                    <img src="./img/our_blog/Ellipse 3.svg" alt="img">
                    <p>espersso</p>
                </div>
                <button class="more__text" onclick="moreText()" id="btnBlog">More</button>
            </div>

            <div class="swiper-slide swiper-slide4 slider__item">
                <div class="item__title">
                    <h3>Why does caffeine make us stay awake?</h3>
                </div>
                <div class="item__describe">
                    <p>
                        Caffeine works by blocking adenosine receptors in the brain, which facilitates energy production
                        and
                        makes us feel more alert. Caffeine also increases adrenaline levels, further boosting your
                        energy
                        and heart rate, as well as other hormones like <span id="less1">...</span><span id="more1">
                            dopamine that can make you feel more awake. The
                            combination of these effects makes caffeine a stimulant that is all-too common in both food
                            and
                            drinks to give us an extra boost of energy when we need it most. It's no wonder why so many
                            people
                            rely on caffeinated beverages - it really can make us stay awake!</span>
                    </p>
                </div>
                <div class="item__icon">
                    <img src="./img/our_blog/caffeine.svg" alt="caffeine">
                    <img src="./img/our_blog/caffeine2.svg" alt="caffeine">
                    <img src="./img/our_blog/caffeine3.svg" alt="caffeine">
                </div>
                <div class="icon__descrition">
                    <p>50%</p>
                    <p>75%</p>
                    <p>100%</p>
                </div>
                <button class="more__text" onclick="moreText1()" id="btnBlog1">More</button>
            </div>

            <div class="swiper-slide swiper-slide4 slider__item">
                <div class="item__title">
                    <h3>Different types of coffee Explained</h3>
                </div>
                <div class="item__describe">
                    <p>
                        Caffeine works by blocking adenosine receptors in the brain, which facilitates energy production
                        and
                        makes us feel more alert. Caffeine also increases adrenaline levels, further boosting your
                        energy
                        and heart rate, as well as other hormones like <span id="less2">...</span><span id="more2">
                            dopamine that can make you feel more awake. The
                            combination of these effects makes caffeine a stimulant that is all-too common in both food
                            and
                            drinks to give us an extra boost of energy when we need it most. It's no wonder why so many
                            people
                            rely on caffeinated beverages - it really can make us stay awake!</span>
                    </p>
                </div>
                <div class="item__icon">
                    <img src="./img/our_blog/blog_deans.svg" alt="beans">
                </div>
                <div class="icon__describe">
                    <p>Different types of beans</p>
                </div>
                <button class="more__text" onclick="moreText2()" id="btnBlog2">More</button>
            </div>


            <div class="swiper-slide swiper-slide4 slider__item">
                <div class="item__title">
                    <h3>how to make a great coffee</h3>
                </div>
                <div class="item__describe">
                    <p>
                        Making a cup of coffee doesn't have to be complicated. Start by gathering your supplies: coffee
                        grounds, water, and a French press, mug or other vessel. Next, measure out 2 tablespoons of
                        ground
                        coffee per 8 ounces of water. If you're using a French <span id="less">...</span><span
                            id="more">press, pour the measured grounds into the
                            bottom of the press followed by hot water (between 195-205 degrees Fahrenheit). Let sit for
                            three
                            minutes before gently pushing down on the filter to trap the grounds at the bottom; this
                            will
                            create
                            an intense flavor with slightly heavier body than filtered methods. If you have neither a
                            French
                            press nor filter, just pour your measured grounds directly into a mug or vessel and top with
                            piping
                            hot water. Give it a stir and let it sit for 3-4 minutes before consuming--but don't leave
                            it
                            too
                            long as this method won't produce quite as bold of a flavor as either filtering or pressing
                            would!</span>
                    </p>
                </div>
                <div class="item__icon">
                    <img src="./img/our_blog/cup1.svg" alt="cup">
                    <img src="./img/our_blog/cup2.svg" alt="cup">
                    <img src="./img/our_blog/cup3.svg" alt="cup">
                </div>
                <div class="icon__describe">
                    <img src="./img/our_blog/Ellipse 1.svg" alt="img">
                    <p>steamed milk</p>
                    <img src="./img/our_blog/Ellipse 2.svg" alt="img">
                    <p>milk foam</p>
                    <img src="./img/our_blog/Ellipse 3.svg" alt="img">
                    <p>espersso</p>
                </div>
                <button class="more__text" onclick="moreText()" id="btnBlog">More</button>
            </div>

            <div class="swiper-slide swiper-slide4 slider__item">
                <div class="item__title">
                    <h3>Why does caffeine make us stay awake?</h3>
                </div>
                <div class="item__describe">
                    <p>
                        Caffeine works by blocking adenosine receptors in the brain, which facilitates energy production
                        and
                        makes us feel more alert. Caffeine also increases adrenaline levels, further boosting your
                        energy
                        and heart rate, as well as other hormones like <span id="less1">...</span><span id="more1">
                            dopamine that can make you feel more awake. The
                            combination of these effects makes caffeine a stimulant that is all-too common in both food
                            and
                            drinks to give us an extra boost of energy when we need it most. It's no wonder why so many
                            people
                            rely on caffeinated beverages - it really can make us stay awake!</span>
                    </p>
                </div>
                <div class="item__icon">
                    <img src="./img/our_blog/caffeine.svg" alt="caffeine">
                    <img src="./img/our_blog/caffeine2.svg" alt="caffeine">
                    <img src="./img/our_blog/caffeine3.svg" alt="caffeine">
                </div>
                <div class="icon__descrition">
                    <p>50%</p>
                    <p>75%</p>
                    <p>100%</p>
                </div>
                <button class="more__text" onclick="moreText1()" id="btnBlog1">More</button>
            </div>

            <div class="swiper-slide swiper-slide4 slider__item">
                <div class="item__title">
                    <h3>Different types of coffee Explained</h3>
                </div>
                <div class="item__describe">
                    <p>
                        Caffeine works by blocking adenosine receptors in the brain, which facilitates energy production
                        and
                        makes us feel more alert. Caffeine also increases adrenaline levels, further boosting your
                        energy
                        and heart rate, as well as other hormones like <span id="less2">...</span><span id="more2">
                            dopamine that can make you feel more awake. The
                            combination of these effects makes caffeine a stimulant that is all-too common in both food
                            and
                            drinks to give us an extra boost of energy when we need it most. It's no wonder why so many
                            people
                            rely on caffeinated beverages - it really can make us stay awake!</span>
                    </p>
                </div>
                <div class="item__icon">
                    <img src="./img/our_blog/blog_deans.svg" alt="beans">
                </div>
                <div class="icon__describe">
                    <p>Different types of beans</p>
                </div>
                <button class="more__text" onclick="moreText2()" id="btnBlog2">More</button>
            </div>

        </div>
        <div class="swiper-button-next swiper-button-next4"></div>
        <div class="swiper-button-prev swiper-button-prev4"></div>
    </div>
</section>