<section class="story">
    <div class="story__container">
        <div class="story__blur-first"></div>
        <div class="story__blur-second"></div>
        <div class="story__title">
            <!-- <img src="../img/story-img/Image-ourstory.webp" alt="image"> -->
            <p class="story__describe">
                Eliza is an online coffee store that offers the widest selection of specialty coffees and teas from
                around the world. From medium-dark roast single origin to flavored espresso beans, they offer a variety
                of ethically sourced products to tantalize any customer’s palate. For those looking for unique brewing
                equipment, Eliza also carries a full range of quality espresso makers, grinders, brewers, French presses
                and more. On top of all that, their baristas are highly trained professionals who know exactly how to
                make the perfect cup for each customer. Whether it's for home or business use, Eliza has you covered -
                all conveniently available at the click of a button!
            </p>
        </div>
    </div>
</section>