<section class="swiper swiper1 mySwiper story"
    style="background-image: url(./img/story-img/story-bean1.svg), url(./img/story-img/story-bean2.svg), url(./img/story-img/story-bean3.svg);">
    <div class="swiper-wrapper swiper-wrapper1 story__container">
        <div class="swiper-slide swiper-slide1 story__border">
            <div class="story__title"
                style="background-image: url(./img/story-img/story-gradient1.png), url(./img/story-img/story-gradient2.png);">
                <div class="story__image">
                    <img class="story-face" src="./img/story-img/Image-ourstory2.svg" alt="image">
                </div>
                <div class="story__describe-container">
                    <h2>
                        Our Story
                    </h2>
                    <p class="story__describe">
                        Eliza is an online coffee store that offers the widest selection of specialty coffees and teas
                        from
                        around the world. From medium-dark roast single origin to flavored espresso beans, they offer a
                        variety
                        of ethically sourced products to tantalize any customer’s palate. For those looking for unique
                        brewing
                        equipment, Eliza also carries a full range of quality espresso makers, grinders, brewers,<span
                            id="dotsStart">...</span><span id="more-story"> presses
                            and more. On top of all that, their baristas are highly trained professionals who know
                            exactly
                            how
                            to
                            make the perfect cup for each customer. Whether it's for home or business use, Eliza has you
                            covered
                            -
                            all conveniently available at the click of a button!</span>
                    </p>
                    <button class="more__story" onclick="ourStory()" id="myBtnStory">More</button>
                </div>
            </div>
        </div>

        <div class="swiper-slide story__border">
            <div class="story__title"
                style="background-image: url(./img/story-img/story-gradient1.png), url(./img/story-img/story-gradient2.png);">
                <div class="story__image">
                    <img class="story-face" src="./img/story-img/Image-ourstory2.svg" alt="image">
                    <div class="story__image">
                        <img class="story-face" src="./img/story-img/Image-ourstory2.svg" alt="image">
                    </div>
                </div>
                <div class="story__describe-container">
                    <h2>
                        Our Story
                    </h2>
                    <p class="story__describe">
                        Eliza is an online coffee store that offers the widest selection of specialty coffees and teas
                        from
                        around the world. From medium-dark roast single origin to flavored espresso beans, they offer a
                        variety
                        of ethically sourced products to tantalize any customer’s palate. For those looking for unique
                        brewing
                        equipment, Eliza also carries a full range of quality espresso makers, grinders, brewers,<span
                            id="dotsFirst">...</span><span id="more-storyFirst"> presses
                            and more. On top of all that, their baristas are highly trained professionals who know
                            exactly
                            how
                            to
                            make the perfect cup for each customer. Whether it's for home or business use, Eliza has you
                            covered
                            -
                            all conveniently available at the click of a button!</span>
                    </p>
                    <button class="more__story" onclick="ourStoryFirst()" id="myBtnStoryFirst">More</button>
                </div>
            </div>
        </div>

        <div class="swiper-slide story__border">
            <div class="story__title"
                style="background-image: url(./img/story-img/story-gradient1.png), url(./img/story-img/story-gradient2.png);">
                <div class="story__image">
                    <img class="story-face" src="./img/story-img/Image-ourstory2.svg" alt="image">
                    <div class="story__image">
                        <img class="story-face" src="./img/story-img/Image-ourstory2.svg" alt="image">
                    </div>
                </div>
                <div class="story__describe-container">
                    <h2>
                        Our Story
                    </h2>
                    <p class="story__describe">
                        Eliza is an online coffee store that offers the widest selection of specialty coffees and teas
                        from
                        around the world. From medium-dark roast single origin to flavored espresso beans, they offer a
                        variety
                        of ethically sourced products to tantalize any customer’s palate. For those looking for unique
                        brewing
                        equipment, Eliza also carries a full range of quality espresso makers, grinders, brewers,<span
                            id="dotsSecond">...</span><span id="more-storySecond"> presses
                            and more. On top of all that, their baristas are highly trained professionals who know
                            exactly
                            how
                            to
                            make the perfect cup for each customer. Whether it's for home or business use, Eliza has you
                            covered
                            -
                            all conveniently available at the click of a button!</span>
                    </p>
                    <button class="more__story" onclick="ourStorySecond()" id="myBtnStorySecond">More</button>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-next swiper-button-next1"></div>
    <div class="swiper-button-prev swiper-button-prev1"></div>
    <div class="swiper-pagination swiper-pagination1"></div>
</section>