<section class="menu">
   <div class="menu__container">
      <div class="menu__title">
         <h2>popular menu</h2>
      </div>
      <div class="menu__main" style="background-image: url('../img/menu-img/main-menu-img.png');">
         <div class="menu__gradient"></div>
         <div class="popular__menu-left">
            <ul>
               <li>
                  <div class="menu__items">
                     <a class="price-menu" href="">$40.00</a>
                     <a class="describe-menu" href="">chocolate</a>
                  </div>
                  <div class="menu__border-gradient">
                     <div class="border__line"></div>
                     <div class="border__square"></div>
                  </div>
               </li>
               <li>
                  <div class="menu__items">
                     <a class="price-menu" href="">$25.00</a>
                     <a class="describe-menu" href="">double es</a>
                  </div>
                  <div class="menu__border-gradient">
                     <div class="border__line"></div>
                     <div class="border__square"></div>
                  </div>
               </li>
               <li>
                  <div class="menu__items">
                     <a class="price-menu" href="">$45.00</a>
                     <a class="describe-menu" href="">caramel</a>
                  </div>
                  <div class="menu__border-gradient">
                     <div class="border__line"></div>
                     <div class="border__square"></div>
                  </div>
               </li>
               <li>
                  <div class="menu__items">
                     <a class="price-menu" href="">$50.00</a>
                     <a class="describe-menu" href="">doppio</a>
                  </div>
                  <div class="menu__border-gradient">
                     <div class="border__line"></div>
                     <div class="border__square"></div>
                  </div>
               </li>
            </ul>
         </div>

         <div class="popular__menu-right">
            <ul>
               <li>
                  <div class="menu__items">
                     <a class="describe-menu" href="">espersso</a>
                     <a class="price-menu" href="">$30.00</a>
                  </div>
                  <div class="menu__border-gradient">
                     <div class="border__line"></div>
                     <div class="border__square"></div>
                  </div>
               </li>
               <li>
                  <div class="menu__items">
                     <a class="describe-menu" href="">cappuccino</a>
                     <a class="price-menu" href="">$30.00</a>
                  </div>
                  <div class="menu__border-gradient">
                     <div class="border__line"></div>
                     <div class="border__square"></div>
                  </div>
               </li>
               <li>
                  <div class="menu__items">
                     <a class="describe-menu" href="">mocha</a>
                     <a class="price-menu" href="">$25.00</a>
                  </div>
                  <div class="menu__border-gradient">
                     <div class="border__line"></div>
                     <div class="border__square"></div>
                  </div>
               </li>
               <li>
                  <div class="menu__items">
                     <a class="describe-menu" href="">latte</a>
                     <a class="price-menu" href="">$25.00</a>
                  </div>
                  <div class="menu__border-gradient">
                     <div class="border__line"></div>
                     <div class="border__square"></div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>