<section class="rating">

   <div class="rating__container">
      <h2 class="rating__container-title">
         Our Rating
      </h2>
      <p class="rating__container-text">
         Please rate our coffee, your feedback will help us to improve our service <br>
         you can choose any numbers
      </p>
      <div class="rating__container-btns">
         <label id="contentLabel" for="text">0</label>
         <div class="rating__btns">
            <button id="decreaseBtn" class="btn">Decrease</button>
            <button id="resetBtn" class="btn">Zero</button>
            <button id="increaseBtn" class="btn">Increase</button>
         </div>
         <div class="submit-raiting">
            <button id="submitBtn" class="btn">Submit</button>
         </div>
      </div>
   </div>

</section>