<section class="recommended">
   <div class="recommended__container">
      <div class="recommended__title">
         <h2>recommended</h2>
      </div>
      <div class="swiper swiper2 recommended__slider">
         <div class="swiper-wrapper slider-content">
            <div class="swiper-slide swiper-slide2 recommended__card">
               <div class="recommended__card-main">
                  <a title="Pure Black Coffee" class="recommended__info" href="">
                     <img src="./img/recommended-slider/card-info.svg" alt="info">
                  </a>
                  <div class="recommended__card-img">
                     <img src="./img/recommended-slider/blue-coffee.png" alt="coffee">
                  </div>
                  <a class="recommended__bucket" href="">
                     <img title="Add to my purchases" src="./img/recommended-slider/card-bucket.svg" alt="bucket">
                  </a>
               </div>
               <div class="recommended__card-title">
                  <h4>arabica</h4>
                  <p>dark roast</p>
               </div>
            </div>

            <div class="swiper-slide swiper-slide2 recommended__card">
               <div class="recommended__card-main">
                  <a title="Pure Black Coffee" class="recommended__info" href="">
                     <img src="./img/recommended-slider/card-info.svg" alt="info">
                  </a>
                  <div class="recommended__card-img">
                     <img src="./img/recommended-slider/brown-coffee.png" alt="coffee">
                  </div>
                  <a class="recommended__bucket" href="">
                     <img title="Add to my purchases" src="./img/recommended-slider/card-bucket.svg" alt="bucket">
                  </a>
               </div>
               <div class="recommended__card-title">
                  <h4>house blend</h4>
                  <p>dark roast</p>
               </div>
            </div>

            <div class="swiper-slide swiper-slide2 recommended__card">
               <div class="recommended__card-main">
                  <a title="Pure Black Coffee" class="recommended__info" href="">
                     <img src="./img/recommended-slider/card-info.svg" alt="info">
                  </a>
                  <div class="recommended__card-img">
                     <img src="./img/recommended-slider/green-coffee.png" alt="coffee">
                  </div>
                  <a class="recommended__bucket" href="">
                     <img title="Add to my purchases" src="./img/recommended-slider/card-bucket.svg" alt="bucket">
                  </a>
               </div>
               <div class="recommended__card-title">
                  <h4>robusta</h4>
                  <p>dark roast</p>
               </div>
            </div>

            <div class="swiper-slide swiper-slide2 recommended__card">
               <div class="recommended__card-main">
                  <a title="Pure Black Coffee" class="recommended__info" href="">
                     <img src="./img/recommended-slider/card-info.svg" alt="info">
                  </a>
                  <div class="recommended__card-img">
                     <img src="./img/recommended-slider/red-coffee.png" alt="coffee">
                  </div>
                  <a class="recommended__bucket" href="">
                     <img title="Add to my purchases" src="./img/recommended-slider/card-bucket.svg" alt="bucket">
                  </a>
               </div>
               <div class="recommended__card-title">
                  <h4>coffee</h4>
                  <p>dark roast</p>
               </div>
            </div>

            <div class="swiper-slide swiper-slide2 recommended__card">
               <div class="recommended__card-main">
                  <a title="Pure Black Coffee" class="recommended__info" href="">
                     <img src="./img/recommended-slider/card-info.svg" alt="info">
                  </a>
                  <div class="recommended__card-img">
                     <img src="./img/recommended-slider/pink-coffee.png" alt="coffee">
                  </div>
                  <a class="recommended__bucket" href="">
                     <img title="Add to my purchases" src="./img/recommended-slider/card-bucket.svg" alt="bucket">
                  </a>
               </div>
               <div class="recommended__card-title">
                  <h4>excelsa</h4>
                  <p>dark roast</p>
               </div>
            </div>

            <div class="swiper-slide swiper-slide2 recommended__card">
               <div class="recommended__card-main">
                  <a title="Pure Black Coffee" class="recommended__info" href="">
                     <img src="./img/recommended-slider/card-info.svg" alt="info">
                  </a>
                  <div class="recommended__card-img">
                     <img src="./img/recommended-slider/purple-coffee.png" alt="coffee">
                  </div>
                  <a class="recommended__bucket" href="">
                     <img title="Add to my purchases" src="./img/recommended-slider/card-bucket.svg" alt="bucket">
                  </a>
               </div>
               <div class="recommended__card-title">
                  <h4>liberica</h4>
                  <p>dark roast</p>
               </div>
            </div>

         </div>
         <div class="swiper-button-next swiper-button-next2"></div>
         <div class="swiper-button-prev swiper-button-prev2"></div>
      </div>
   </div>
</section>