<!-- <section class="reserve-form">
   <div class="reserve-form__container">
      <h2>Reserve a Table </h2>
      <div class="reserve__item-container">
         <div class="reserve__item">
            <div class="reserve-image">
               <img src="./img/reserve-img/reserve-cup-img.png" alt="image">
            </div>
            <div class="reserve__form">
               <form>
                  <div class="form__date">
                     <input title="Click on calendar image" type="date" placeholder="Date" value="2023-02-17" required>
                  </div>
                  <div class="form__time-guest">
                     <input title="Click on time image" type=time id="appt" name="appt" required>
                     <select name="form-guests" id="guests" required>
                        <option value="1">A table for 1</option>
                        <option value="2">A table for 2</option>
                        <option value="3">A table for 3</option>
                        <option value="4">A table for 4</option>
                     </select>
                  </div>
                  <div class="form__name">
                     <input type="text" id="fname" name="fname" autocomplete="off" placeholder="your name" required>
                  </div>
                  <div class="form__phone">
                     <input type="tel" id="phone" name="phone" autocomplete="off" placeholder="your phone"
                        pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}-[0-9]{3}" required> <br>
                     <span class="form__tel">Format: xxx-xx-xx-xxx</span>
                  </div>
                  <div class="form__mail-submit">
                     <input type="email" id="email" name="email" autocomplete="off" placeholder="your email" required>
                     <button type="submit" class="reserve__btn">Reserve</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</section> -->