<section class="review">
   <div class="review__container">
      <div class="review__title">
         <h2>
            customer review
         </h2>
      </div>
      <div class="review__border">
         <div class="swiper review__slider-container"
            style="background-image: url('../img/review-img/customer-review-BG.png');">
            <div class="swiper-wrapper review__slider">
               <div class="swiper-slide swiper-slide3 review__card">
                  <div class="review__marks">
                     <img src="./img/review-img/review-people/Q-Mark.svg" alt="img">
                  </div>
                  <div class="review__card-image">
                     <img src="./img/review-img/review-people/review-persone-one.svg" alt="img">
                  </div>
                  <div class="review__name">
                     <p>
                        Tyler
                        Student
                     </p>
                  </div>
                  <div class="review__star">
                     <img src="./img/review-img/review-people/review-star.svg" alt="stars">
                  </div>
                  <div class="review__describe">
                     <p>
                        I love spending my downtime in a cozy coffee shop, surrounded by the sweet aroma of freshly
                        brewed drinks and pastries.
                     </p>
                  </div>
               </div>

               <div class="swiper-slide review__card">
                  <div class="review__marks">
                     <img src="./img/review-img/review-people/Q-Mark.svg" alt="img">
                  </div>
                  <div class="review__card-image">
                     <img src="./img/review-img/review-people/review-persone-second.svg" alt="img">
                  </div>
                  <div class="review__name">
                     <p>
                        Joanna
                        Doe
                     </p>
                  </div>
                  <div class="review__star">
                     <img src="./img/review-img/review-people/review-star.svg" alt="stars">
                  </div>
                  <div class="review__describe">
                     <p>
                        I love spending my downtime in a cozy coffee shop, surrounded by the sweet aroma of freshly
                        brewed drinks and pastries.
                     </p>
                  </div>
               </div>

               <div class="swiper-slide review__card">
                  <div class="review__marks">
                     <img src="./img/review-img/review-people/Q-Mark.svg" alt="img">
                  </div>
                  <div class="review__card-image">
                     <img src="./img/review-img/review-people/review-persone-third.svg" alt="img">
                  </div>
                  <div class="review__name">
                     <p>
                        John
                        Doe
                     </p>
                  </div>
                  <div class="review__star">
                     <img src="./img/review-img/review-people/review-star.svg" alt="stars">
                  </div>
                  <div class="review__describe">
                     <p>
                        I love spending my downtime in a cozy coffee shop, surrounded by the sweet aroma of freshly
                        brewed drinks and pastries.
                     </p>
                  </div>
               </div>

               <div class="swiper-slide review__card">
                  <div class="review__marks">
                     <img src="./img/review-img/review-people/Q-Mark.svg" alt="img">
                  </div>
                  <div class="review__card-image">
                     <img src="./img/review-img/review-people/review-persone-fourth.svg" alt="img">
                  </div>
                  <div class="review__name">
                     <p>
                        Melissa
                        Doe
                     </p>
                  </div>
                  <div class="review__star">
                     <img src="./img/review-img/review-people/review-star.svg" alt="stars">
                  </div>
                  <div class="review__describe">
                     <p>
                        I love spending my downtime in a cozy coffee shop, surrounded by the sweet aroma of freshly
                        brewed drinks and pastries.
                     </p>
                  </div>
               </div>

               <div class="swiper-slide review__card">
                  <div class="review__marks">
                     <img src="./img/review-img/review-people/Q-Mark.svg" alt="img">
                  </div>
                  <div class="review__card-image">
                     <img src="./img/review-img/review-people/review-persone-fifth.svg" alt="img">
                  </div>
                  <div class="review__name">
                     <p>
                        Jane
                        Doe
                     </p>
                  </div>
                  <div class="review__star">
                     <img src="./img/review-img/review-people/review-star.svg" alt="stars">
                  </div>
                  <div class="review__describe">
                     <p>
                        I love spending my downtime in a cozy coffee shop, surrounded by the sweet aroma of freshly
                        brewed drinks and pastries.
                     </p>
                  </div>
               </div>

               <div class="swiper-slide review__card">
                  <div class="review__marks">
                     <img src="./img/review-img/review-people/Q-Mark.svg" alt="img">
                  </div>
                  <div class="review__card-image">
                     <img src="./img/review-img/review-people/nazar-DT.webp" alt="img">
                  </div>
                  <div class="review__name">
                     <p>
                        Nazar
                        Kekosh
                     </p>
                  </div>
                  <div class="review__star">
                     <img src="./img/review-img/review-people/review-star.svg" alt="stars">
                  </div>
                  <div class="review__describe">
                     <p>
                        A web developer and just a good person who lives in Ukraine and wishes everyone good luck! See
                        you again...
                     </p>
                  </div>
               </div>

               <div class="swiper-slide review__card">
                  <div class="review__marks">
                     <img src="./img/review-img/review-people/Q-Mark.svg" alt="img">
                  </div>
                  <div class="review__card-image">
                     <img src="./img/review-img/review-people/iren-DT.webp" alt="img">
                  </div>
                  <div class="review__name">
                     <p>
                        Iryna
                        Pec
                     </p>
                  </div>
                  <div class="review__star">
                     <img src="./img/review-img/review-people/review-star.svg" alt="stars">
                  </div>
                  <div class="review__describe">
                     <p>
                        A web developer and just a good person who lives in Ukraine and wishes everyone good luck! See
                        you again...
                     </p>
                  </div>
               </div>

               <div class="swiper-slide review__card">
                  <div class="review__marks">
                     <img src="./img/review-img/review-people/Q-Mark.svg" alt="img">
                  </div>
                  <div class="review__card-image">
                     <img src="./img/review-img/review-people/vasa-DT.webp" alt="img">
                  </div>
                  <div class="review__name">
                     <p>
                        Vasyl
                        Melko
                     </p>
                  </div>
                  <div class="review__star">
                     <img src="./img/review-img/review-people/review-star.svg" alt="stars">
                  </div>
                  <div class="review__describe">
                     <p>
                        A web developer and just a good person who lives in Ukraine and wishes everyone good luck! See
                        you again...
                     </p>
                  </div>
               </div>
            </div>
            <div class="swiper-button-next swiper-button-next3"></div>
            <div class="swiper-button-prev swiper-button-prev3"></div>
         </div>
      </div>
   </div>
</section>