<div class="roast">
   <h2>Degree of roasting of beans</h2>
   <div class="roast__fill">
      <span id="green" class="low-roast">Low</span>
      <span id="yellow" class="medium-roast">Medium</span>
      <span id="red" class="hard-roast">High</span>
   </div>

   <div class="roast__btns">
      <button class="low-btn" type="button" onclick='line("green")'>LOW</button>
      <button class="medium-btn" type="button" onclick='line("yellow")'>MEDIUM</button>
      <button class="high-btn" type="button" onclick='line("red")'>HIGH</button>
   </div>
</div>