<!-- <section class="services">
   <div class="services__container">
      <div class="services__title">
         <h2>Services</h2>
      </div>
      <div class="services__item">
         <div class="item__card">
            <img src="../img/services-img/coffee-machine.svg" alt="image">
            <p>Equipment</p>
         </div>
         <div class="item__card">
            <img src="../img/services-img/glass-cup.svg" alt="image">
            <p>Type Of Coffee</p>
         </div>
         <div class="item__card">
            <img src="../img/services-img/paper-cup.svg" alt="image">
            <p>Take A Way</p>
         </div>
         <div class="item__card">
            <img src="../img/services-img/coffee-beans.svg" alt="image">
            <p>Beans Variant</p>
         </div>
         <div class="item__card">
            <img src="../img/services-img/croissant.svg" alt="image">
            <p>Pastry</p>
         </div>
      </div>
   </div>
</section> -->