<section class="subscribe"
    style="background-image: url(./img/subscribe-img/subscribe-bean-left.png), url(./img/subscribe-img/sbscribe-bean-right.png), url(./img/subscribe-img/blur-top-sub.png);">
    <div class="subscribe__container">
        <div class="container__mail">
            <label for="email">subscribe to our newsletter, discounts and promotions</label>
            <input style="background-image: url('./img/subscribe-img/sub_bell.png');" type="email" id="mail"
                placeholder="Your Email Address" required>
            <input class="subscribe__btn" type="submit" value="Subscribe" required>
        </div>
    </div>
</section>