<section class="subscribe-newsletter">
    <div class="subscribe-newsletter__container">
        <div class="subscribe-newsletter__container_mail">
            <label for="email">subscribe to our newsletter, discounts and promotions</label>
            <input class="your_addres"
                style="background-image: url('../img/subscribe-img/notification-bell.svg'); background-repeat: no-repeat; background-position: 2%;"
                type="email" id="email" placeholder="Your Email Address" required>
            <input class="btn" type="submit" value="Subscribe" required>
        </div>
    </div>
</section>