.footer{
    margin-top: 200px;
    width: 100%;
    position: absolute;
    &__container{
        background: rgba(173, 113, 74, 0.35);
        backdrop-filter: blur(2px);
        max-width: 1440px;
        width: 100%;
        padding: 0 15px;
        &_img{
            position: relative;
            top: -53px;
            img{
                max-width: 323.05px;
                max-height: 473.55px;
            }
        }
    }
}