.our__blog {
    // width: 100vw;
    background-color: #53362A;
    background-image: url("../img/our_blog/Bg-Of-blog1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 148px;
    #more {
        display: none;
    }
    #more1{
        display: none;
    }
    #more2{
        display: none;
    }
    .our__blog_title {
        font-family: 'Dancing Script';
        font-weight: 700;
        font-size: 64px;
        line-height: 1.2;
        transform: translateY(-50px);
        text-align: center;
        text-transform: capitalize;
        background: linear-gradient(262.07deg, #F8E4BE 14.64%, #FFF3E0 40.26%, #FFF8E8 62%, #DFC39D 93.82%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 185px 140px 65px rgba(0, 0, 0, 0.01), 118px 90px 59px rgba(0, 0, 0, 0.12), 67px 51px 50px rgba(0, 0, 0, 0.39), 30px 22px 37px rgba(0, 0, 0, 0.67), 7px 6px 20px rgba(0, 0, 0, 0.77);
    }

    .our__blog_slider {
        
        .slider__item {
            background-color: #997D6C;
            backdrop-filter: blur(2px);
            max-width: 534px;
            height: 100%;
            max-height: 378px;
            border-radius: 35px;
            padding: 20px 50px 40px;
            margin-left: 30px;
            margin-bottom: 93px;
            .item__title {
                h3{
                    font-family: 'Leiko';
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 218.5%;
                    text-transform: capitalize;
                    color: #FFFFFF;
                    margin-bottom: 19px;
                    white-space: nowrap;
                }
            }

            .item__describe {
                p {
                    font-family: 'Leiko';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 227%;
                    text-transform: capitalize;
                    color: #F7E5DA;
                }

            }

            .item__icon {
                display: flex;
                margin-top: 10px;
                img{
                    min-width: 60px;
                    min-height: 36px;
                    margin-right: 27px;
                }
            }

            .icon__describe {
                display: flex;
                margin-top: 20px;
                img{
                    margin-right: 7px;
                }
                p{
                    margin-right: 7px;
                    font-family: 'Leiko';
                    font-weight: 400;
                    font-size: 8.92941px;
                    line-height: 218.5%;
                    text-transform: capitalize;
                    color: #000000;
                }
            }

            .icon__descrition{
                margin-left: 45px;
                display: flex;
                p{
                    font-family: 'Leiko';
                    font-weight: 400;
                    font-size: 12.76px;
                    line-height: 218.5%;
                    text-transform: capitalize;
                    color: #F8E4BE;
                    margin-right: 45px;
                }
            }
            .more__text {
                background: none;
                border: none;
                font-family: $var6;
                font-size: 20px;
                line-height: 135%;
                text-align: right;
                text-decoration: underline;
                color: #ffffff;
                float: right;
                
            }
        }
        .slick-arrow{
            float: right;
        }
    }
    .slider__arrow{
        
    }
}