.story {
    max-width: 80%;
    display: flex;
    justify-content: center;
    #more-story {
        display: none;
    }
    #more-storyFirst {
        display: none;
    }
    #more-storySecond {
        display: none;
    }

    .swiper-pagination-bullet {
        height: 16px;
        width: 16px;
        background: #744f40;
    }

    .swiper-pagination-bullet-active {
        height: 16px;
        width: 16px;
        background: #d7b0a0;
    }

    .swiper-button-next {
        color: #744f40;
    }

    .swiper-button-prev {
        color: #744f40;
    }
    &__container {
        padding: 0 15px;
        margin: 120px 0 140px;
        display: flex;

        .swiper {
            max-width: 100%;
        }

        .swiper-slide {
            width: 100%;
            height: 100%;
        }

        .story__border {
            border-radius: 35px;
            border-top: 3px solid rgba(84, 54, 42, 1);
            border-left: 3px solid rgba(84, 54, 42, 1);
            width: 100%;
            height: 100%;
            padding: 6px;
            display: flex;
            justify-content: center;
            align-items: center;

            .story__title {
                display: flex;
                justify-content: end;
                padding-right: 56px;
                padding-top: 64px;
                padding-bottom: 36px;
                width: 100%;
                background: rgba(173, 113, 74, 0.35);
                backdrop-filter: blur(2px);
                border-radius: 35px;
                background-image: url("../img/story-img/story-gradient1.png"),
                    url("../img/story-img/story-gradient2.png");
                background-position-x: right;
                background-repeat: no-repeat;

                h2 {
                    font-family: $var7;
                    text-align: right;
                    font-weight: 700;
                    font-size: 54px;
                    line-height: 0px;
                    color: $var4;
                    text-shadow: 0px 69px 19px rgba(32, 19, 22, 0.01), 0px 44px 18px rgba(32, 19, 22, 0.09),
                        0px 25px 15px rgba(32, 19, 22, 0.31), 0px 11px 11px rgba(32, 19, 22, 0.52),
                        0px 3px 6px rgba(32, 19, 22, 0.6), 0px 0px 0px rgba(32, 19, 22, 0.62);
                    transform: translateY(-60px);
                }

                .story__image {
                    img {
                        transform: translate(-106%, -17%);
                        position: absolute;
                        filter: drop-shadow(0px 153px 61px rgba(32, 19, 22, 0.03))
                            drop-shadow(0px 86px 52px rgba(32, 19, 22, 0.1))
                            drop-shadow(0px 38px 38px rgba(32, 19, 22, 0.17))
                            drop-shadow(0px 10px 21px rgba(32, 19, 22, 0.2))
                            drop-shadow(0px 0px 0px rgba(32, 19, 22, 0.2));
                    }
                    .story-bean1 {
                        position: absolute;
                        transform: translate(-840%, 110%);
                        // left: 15px;
                        // top: 40%;
                        // display: block;
                    }
                    .story-bean2 {
                        position: absolute;
                        transform: translate(-215%, 45%);
                        // top: 26%;
                        // left: 33%;
                        // display: block;
                    }
                    .story-bean3 {
                        position: absolute;
                        transform: translate(-276%, 325%);
                        // left: 31%;
                        // top: 78%;
                        // display: block;
                    }
                }
                .story__describe {
                    font-family: $var6;
                    font-size: 18px;
                    line-height: 39px;
                    text-transform: capitalize;
                    color: #ffffff;
                    width: 592px;
                    transition: max-height 0.2s ease-out;
                }
                .more__story {
                    background: none;
                    border: none;
                    font-family: $var6;
                    font-size: 20px;
                    line-height: 135%;
                    text-align: right;
                    text-decoration: underline;
                    color: #ffffff;
                    float: right;
                    padding-top: 32px;
                }
            }
        }
    }
}
