.story {
    max-width: 80%;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 5% 50%, 40% 40%, 38% 70%;
    @media screen and (max-width: 820px) {
        max-width: 100%;
    }
    #more-story {
        display: none;
    }
    #more-storyFirst {
        display: none;
    }
    #more-storySecond {
        display: none;
    }

    .swiper-pagination-bullet {
        height: 16px;
        width: 16px;
        background: #744f40;
    }

    .swiper-pagination-bullet-active {
        height: 16px;
        width: 16px;
        background: #d7b0a0;
    }

    .swiper-button-next1 {
        color: #744f40;
    }

    .swiper-button-prev1 {
        color: #744f40;
    }
    &__container {
        padding: 0 15px;
        margin: 120px 0 140px;
        display: flex;

        .swiper1 {
            max-width: 100%;
        }

        .swiper-slide1 {
            width: 100%;
            height: 100%;
        }

        .story__border {
            border-radius: 35px;
            border-top: 3px solid rgba(84, 54, 42, 1);
            border-left: 3px solid rgba(84, 54, 42, 1);
            width: 100%;
            height: 100%;
            padding: 6px;
            display: flex;
            justify-content: center;
            align-items: center;

            .story__title {
                position: relative;
                display: flex;
                justify-content: end;
                padding-right: 56px;
                padding-top: 64px;
                padding-bottom: 36px;
                width: 100%;
                background: rgba(173, 113, 74, 0.35);
                backdrop-filter: blur(2px);
                border-radius: 35px;
                background-position-x: right;
                background-repeat: no-repeat;
                @media screen and (max-width: 1200px) {
                    width: 100%;
                    padding-right: 0px;
                    display: block;
                    justify-content: unset;
                }
                .story__describe-container {
                    @media screen and (max-width: 820px) {
                        width: 100%;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: unset;
                        justify-content: center;
                    }
                    h2 {
                        font-family: $var7;
                        text-align: right;
                        font-weight: 700;
                        font-size: 54px;
                        line-height: 0px;
                        color: $var4;
                        text-shadow: 0px 69px 19px rgba(32, 19, 22, 0.01), 0px 44px 18px rgba(32, 19, 22, 0.09),
                            0px 25px 15px rgba(32, 19, 22, 0.31), 0px 11px 11px rgba(32, 19, 22, 0.52),
                            0px 3px 6px rgba(32, 19, 22, 0.6), 0px 0px 0px rgba(32, 19, 22, 0.62);
                        transform: translateY(-60px);
                        @media screen and (max-width: 1200px) {
                            padding-right: 56px;
                        }
                    }
                    .story__describe {
                        font-family: $var6;
                        font-size: 18px;
                        line-height: 39px;
                        text-transform: capitalize;
                        color: #ffffff;
                        width: 592px;
                        transition: max-height 0.2s ease-out;
                        @media screen and (max-width: 1200px) {
                            margin: 0 auto;
                        }
                        @media screen and (max-width: 756px) {
                            padding: 0 20px;
                            max-width: 80%;
                        }
                    }
                    .more__story {
                        background: none;
                        border: none;
                        font-family: $var6;
                        font-size: 20px;
                        line-height: 135%;
                        text-align: right;
                        text-decoration: underline;
                        color: #ffffff;
                        float: right;
                        padding-top: 32px;
                        @media screen and (max-width: 1200px) {
                            padding-right: 56px;
                        }
                    }
                }

                .story__image {
                    width: 100%;
                    @media screen and (max-width: 1200px) {
                        width: 0%;
                    }
                    .story-face {
                        position: absolute;
                        left: -20px;
                        top: -50px;
                        z-index: -1;
                        filter: drop-shadow(0px 153px 61px rgba(32, 19, 22, 0.03))
                            drop-shadow(0px 86px 52px rgba(32, 19, 22, 0.1))
                            drop-shadow(0px 38px 38px rgba(32, 19, 22, 0.17))
                            drop-shadow(0px 10px 21px rgba(32, 19, 22, 0.2))
                            drop-shadow(0px 0px 0px rgba(32, 19, 22, 0.2));
                        @media screen and (max-width: 1320px) {
                            left: -60px;
                        }
                        @media screen and (max-width: 1200px) {
                            opacity: 0.3;
                        }
                    }
                    .couple-beans {
                        display: flex;
                        justify-content: space-between;
                        .story-bean1 {
                            width: 128px;
                            height: 142px;
                        }
                        .story-bean2 {
                            width: 108px;
                            height: 122px;
                        }
                    }
                    .alone-bean {
                        width: 100%;
                        display: flex;
                        justify-content: end;
                        .story-bean3 {
                            width: 104px;
                            height: 118px;
                        }
                    }
                }
            }
        }
    }
}
