.rating {
   &__container {
      margin: 80px auto 30px;
      padding: 40px 0;
      width: 80%;
      background: rgba(173, 113, 74, 0.35);
      border-radius: 35px;
      margin-bottom: 90px;
      &-title {
         text-align: center;
         font-family: "Dancing Script";
         font-weight: 700;
         font-size: 56px;
         text-transform: capitalize;
         color: #f8e4be;
         transform: translateY(-80px);
         text-shadow:
            0 69px 19px rgba(32, 19, 22, 0.01),
            0 44px 18px rgba(32, 19, 22, 0.09),
            0 25px 15px rgba(32, 19, 22, 0.31),
            0 11px 11px rgba(32, 19, 22, 0.52),
            0 3px 6px rgba(32, 19, 22, 0.6),
            0 0 0 rgba(32, 19, 22, 0.62);

         @media screen and (max-width: 768px) {
            font-size: 38px;
         }

         @media screen and (max-width: 576px) {
            font-size: 32px;
         }
      }
      &-text {
         width: 70%;
         display: block;
         margin: 0 auto;
         text-align: center;
         font-family: "Dancing Script";
         font-weight: 700;
         font-size: 36px;
         text-transform: capitalize;
         line-height: 1.2;
         color: #f8e4be;
         transform: translateY(-30px);
         text-shadow:
            0 69px 19px rgba(32, 19, 22, 0.01),
            0 44px 18px rgba(32, 19, 22, 0.09),
            0 25px 15px rgba(32, 19, 22, 0.31),
            0 11px 11px rgba(32, 19, 22, 0.52),
            0 3px 6px rgba(32, 19, 22, 0.6),
            0 0 0 rgba(32, 19, 22, 0.62);
         @media screen and (max-width: 768px) {
            width: 90%;
         }
         @media screen and (max-width: 576px) {
            font-size: 32px;
         }
      }
      //style btns
      &-btns {
         #contentLabel {
            display: block;
            text-align: center;
            font-family: "Dancing Script";
            font-weight: 700;
            font-size: 56px;
            text-transform: capitalize;
            color: #f8e4be;
         }
         .rating__btns {
            display: flex;
            justify-content: space-evenly;
            margin-top: 40px;
            margin-bottom: 40px;
            .btn {
               font-family: $var6;
               font-weight: 400;
               font-size: 24px;
               line-height: 100%;
               text-transform: capitalize;
               color: $var4;
               padding: 12px 36px;
               border-radius: 49px;
               background: rgba(247, 225, 188, 0.1);
               border-right: 2px solid rgba(224, 168, 114, 1);
               border-bottom: 2px solid rgba(248, 228, 190, 1);
               border-left: 2px solid rgba(255, 243, 224, 1);
               border-top: 2px solid rgba(224, 168, 114, 1);
               transition: 0.3s;
               &:hover {
                  background: rgba(247, 225, 188, 0.3);
               }
               @media screen and (max-width: 768px) {
                  font-size: 18px;
               }
               @media screen and (max-width: 576px) {
                  font-size: 12px;
                  padding: 8px 16px;
               }
            }
         }
         .submit-raiting {
            display: block;
            text-align: center;
            height: 100%;
            .btn {
               width: 100px;
               height: 100px;
               font-family: "Dancing Script";
               font-weight: 700;
               font-size: 36px;
               text-transform: capitalize;
               color: #f8e4be;
               border-right: 2px solid rgba(224, 168, 114, 1);
               border-bottom: 2px solid rgba(248, 228, 190, 1);
               border-left: 2px solid rgba(255, 243, 224, 1);
               border-top: 2px solid rgba(224, 168, 114, 1);
               transition: 0.3s;
               border-radius: 50%;
               padding: 0px;
               &:hover {
                  background: rgba(247, 225, 188, 0.3);
                  rotate: 360deg;
               }
               @media screen and (max-width: 768px) {
                  font-size: 28px;
               }
            }
         }
      }
   }
}
