.recommended {
   max-width: 100%;
   &__container {
      width: 80%;
      margin: 0 auto;
      .recommended__title {
         h2 {
            padding-bottom: 64px;
            font-family: $var7;
            font-weight: 700;
            font-size: 64px;
            line-height: 77px;
            text-transform: capitalize;
            text-align: center;
            background: linear-gradient(262.07deg, #f8e4be 14.64%, #fff3e0 40.26%, #fff8e8 62%, #dfc39d 93.82%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            text-shadow: 185px 140px 65px rgba(0, 0, 0, 0.01), 118px 90px 59px rgba(0, 0, 0, 0.12),
               67px 51px 50px rgba(0, 0, 0, 0.39), 30px 22px 37px rgba(0, 0, 0, 0.67), 7px 6px 20px rgba(0, 0, 0, 0.77);
            @media screen and (max-width: 600px) {
               font-size: 54px;
               padding-bottom: 24px;
            }
            @media screen and (max-width: 480px) {
               font-size: 44px;
            }
         }
      }
      .recommended__slider {
         display: flex;
         justify-content: center;

         .swiper-button-prev2 {
            left: var(--swiper-navigation-sides-offset, 44%);
            top: var(--swiper-navigation-sides-offset, 94%);
            right: auto;
            @media screen and (max-width: 1200px) {
               left: var(--swiper-navigation-sides-offset, 42%);
            }
            @media screen and (max-width: 768px) {
               left: var(--swiper-navigation-sides-offset, 38%);
            }
            @media screen and (max-width: 600px) {
               left: var(--swiper-navigation-sides-offset, 32%);
               top: var(--swiper-navigation-sides-offset, 90%);
            }
            &::after {
               display: none;
            }
            .arrow__main {
               transform: rotate(180deg);
            }
            .arrow__hover {
               display: none;
            }
            &:hover {
               .arrow__main {
                  display: none;
               }
               .arrow__hover {
                  display: block;
               }
            }
         }

         .swiper-button-next2 {
            right: var(--swiper-navigation-sides-offset, 44%);
            top: var(--swiper-navigation-sides-offset, 94%);
            left: auto;
            @media screen and (max-width: 1200px) {
               right: var(--swiper-navigation-sides-offset, 42%);
            }
            @media screen and (max-width: 768px) {
               right: var(--swiper-navigation-sides-offset, 38%);
            }
            @media screen and (max-width: 600px) {
               right: var(--swiper-navigation-sides-offset, 32%);
               top: var(--swiper-navigation-sides-offset, 90%);
            }
            &::after {
               display: none;
            }
            color: transparent;
            .arrow__hover {
               display: none;
            }
            &:hover {
               .arrow__main {
                  display: none;
               }
               .arrow__hover {
                  display: block;
                  transform: rotate(180deg);
               }
            }
         }

         .slider-content {
            display: flex;
            padding-bottom: 105px;
            .recommended__card,
            .swiper-slide2 {
               max-width: 100%;

               .recommended__card-main {
                  background: rgba(173, 113, 74, 0.35);
                  backdrop-filter: blur(2px);
                  border-radius: 35px 35px 0 0;
                  position: relative;
                  cursor: pointer;
                  &:hover {
                     background: linear-gradient(90deg, #54372a, #745f58);
                     animation: recomend-gradient 2.5s infinite ease-in-out;
                     background-size: 300% 300%;
                  }
                  @keyframes recomend-gradient {
                     0% {
                        background-position: 0 50%;
                     }

                     50% {
                        background-position: 100% 50%;
                     }

                     100% {
                        background-position: 0 50%;
                     }
                  }

                  .recommended__info {
                     position: absolute;
                     top: 20px;
                     left: 20px;
                  }
                  .recommended__card-img {
                     @media screen and (max-width: 600px) {
                        display: flex;
                     }
                     img {
                        max-width: 100%;
                        @media screen and (max-width: 600px) {
                           margin: 0 auto;
                        }
                     }
                  }
                  .recommended__bucket {
                     display: flex;
                     flex-direction: row-reverse;
                     position: absolute;
                     right: 10px;
                     bottom: 10px;
                     cursor: default;
                     img {
                        cursor: pointer;
                     }
                  }
               }
               .recommended__card-title {
                  background: rgba(255, 255, 255, 0.15);
                  border-radius: 0 0 35px 35px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 18px 0;
                  h4 {
                     font-family: $var6;
                     font-weight: 600;
                     font-size: 16px;
                     line-height: 210%;
                     text-transform: capitalize;
                     color: #ffffff;
                     padding-right: 12px;
                     border-width: 3px;
                     border-style: solid;
                     border-left: 0px;
                     border-image: linear-gradient(
                           to bottom,
                           rgba(109, 84, 74, 0) -9.84%,
                           #b59183 43.95%,
                           rgba(109, 84, 74, 0) 114.55%
                        )
                        0 50%;
                     @media screen and (max-width: 756px) {
                        font-size: 12px;
                     }
                  }

                  p {
                     font-family: $var6;
                     font-size: 16px;
                     line-height: 33px;
                     text-transform: capitalize;
                     color: #ffffff;
                     padding-left: 12px;
                     padding-top: 2px;
                     @media screen and (max-width: 756px) {
                        font-size: 12px;
                     }
                  }
               }
            }
         }
      }
   }
}
