.subscribe {
    font-family: $var6;
    width: 100%;
    background: rgba(173, 113, 74, 0.35);
    backdrop-filter: blur(2px);
    background-repeat: no-repeat;
    background-position: left -18.5%, 70% 70%, left 0%;
    @media screen and (max-width: 992px) {
        background-position: 0% -19%, 70% 70%, left 0%;
    }
    @media screen and (max-width: 501px) {
        background-position: -4% -16%, 70% 70%, left 0%;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        .container__mail {
            display: flex;
            flex-direction: column;
            align-items: center;

            label {
                font-family: $var6;
                font-size: 21px;
                line-height: 2.7;
                text-transform: capitalize;
                text-align: center;
                color: #f8e4be;
                margin-bottom: 54px;
                margin-top: 54px;
                @media screen and (max-width: 600px) {
                    margin-left: 10px;
                    margin-right: 10px;
                }
                @media screen and (max-width: 500px) {
                    font-size: 18px;
                    line-height: 1.7;
                }
                @media screen and (max-width: 430px) {
                    font-size: 16px;
                    line-height: 1.4;
                }
            }

            input[type="email"] {
                border: 1px solid #d6d6d6;
                border-radius: 12px;
                background-color: #ffffff;
                padding: 13.5px 0px 13.5px 48px;
                margin-bottom: 54px;
                width: 100%;
                background-repeat: no-repeat;
                background-position: 2%;
                color: #9d8781;
                @media screen and (max-width: 620px) {
                    width: 76%;
                }
            }

            .subscribe__btn {
                align-items: center;
                padding: 12px 36px;
                font-size: 24px;
                text-transform: capitalize;
                background: rgba(247, 225, 188, 0.1);
                color: #f8e4be;
                border-radius: 49px;
                border: 2px solid #f8e4be;
                border-right: 2px solid rgba(224, 168, 114, 1);
                border-bottom: 2px solid rgba(248, 228, 190, 1);
                border-left: 2px solid rgba(255, 243, 224, 1);
                border-top: 2px solid rgba(224, 168, 114, 1);
                transition: 0.3s;
                margin-bottom: 54px;
                @media screen and (max-width: 500px) {
                    font-size: 18px;
                }
                @media screen and (max-width: 430px) {
                    font-size: 16px;
                }

                &:hover {
                    background: rgba(247, 225, 188, 0.3);
                }
            }
        }
    }
}
