.subscribe-newsletter{
    max-width: 100%;
    background: rgba(173, 113, 74, 0.35);
    backdrop-filter: blur(2px);
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1440px;
        width: 100%;
        margin: 0 15px;
        &_mail{
           margin: 55px 0;
           label{
            font-family: 'Leiko';
            font-style: normal;
            font-weight: 400;
            font-size: 21px;
            line-height: 1.7;
            text-transform: capitalize;
            color: #F8E4BE;
            margin-bottom: 54px;
           }
        }
    }
}